:root {
    --light: lightcoral;
    --color2: #D3ECA7;
    --color3: #ffffff;
    --cent: center;
}


/* Universal Selector  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Element Selectors */
body {
    background-color: var(--light);
    flex: flex;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    color: var(--color3);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

section {
    padding: 3%;
    margin: auto;
}


/* Header Section Element Selectors */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--color3);
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* About Me section */
.about-me {
    background-color: var(--color2);
    display: flex;
    flex-wrap: wrap;
}

.about-me .mains {
    flex: 1 1 30%;
}

.profilepic {
    border-radius: 40%;
    margin-right: 55%;
}

.about-me .secondary {
    flex: 1 1 70%;
    margin-top: 7%;
}

.about-me h2 {
    margin-left: 22%;
}


/* Work Section  */
.work {
    background-color: #B4E197;
}

.work h2 {
    text-align: var(--cent);
    padding-bottom: 5%;
}

.flexcards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Cards making them opaque and creating a flexbox */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    opacity: 0.5;
    flex: 0 0 25%;
    justify-content: var(--cent);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 4px;
    text-align: var(--cent);
}

h3 {
    font-weight: bolder;
    color: black;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: grab;
    opacity: 1;
}


/* Contact Section */
.contact {
    background-color: var(--color2);
    justify-content: var(--cent);
    text-align: var(--cent);
}


/* Footer Section */
.footer {
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: var(--cent);
}


/*  Media Selectors */
@media screen and (max-width:992px) {
    header {
        size: 75%;
    }

    .card {
        flex: 0 0 50%;
    }
}

@media screen and (max-width:762px) {
    header {
        size: 50%;
    }

    .card {
        flex: 0 0 100%;
    }
}